.p-3{
    background-color: #C99361;
}

#ueschri{
    color: #4A3623;
    text-align: center;
}

#einfschink{
    background-color: #a77a50;
    color: white;
}

#pikaschink{
    background-color: #a77a50;
    color: white;
}

#topfschink{
    background-color: #a77a50;
    color: white;
}


